/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */
/* reset.css */
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table, th, td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
/* typography.css */
html {
  font-size: 100.01%;
}
body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
p {
  margin: 0 0 1.5em;
}
.left {
  float: left !important;
}
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
.right {
  float: right !important;
}
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a {
  color: #06c;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
strong, dfn {
  font-weight: bold;
}
em, dfn {
  font-style: italic;
}
sup, sub {
  line-height: 0;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
}
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul, li ol {
  margin: 0;
}
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th {
  font-weight: bold;
}
thead th {
  background: #c3d9ff;
}
th, td, caption {
  padding: 4px 10px 4px 5px;
}
tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e5ecf9;
}
tfoot {
  font-style: italic;
}
caption {
  background: #eee;
}
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.hide {
  display: none;
}
.quiet {
  color: #666;
}
.loud {
  color: #000;
}
.highlight {
  background: #ff0;
}
.added {
  background: #060;
  color: #fff;
}
.removed {
  background: #900;
  color: #fff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* forms.css */
label {
  font-weight: bold;
}
fieldset {
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}
fieldset, #IE8#HACK {
  padding-top: 1.4em;
}
legend, #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
input[type=text],
input[type=password],
input.text,
input.title,
textarea {
  background-color: #fff;
  border: 1px solid #bbb;
}
input[type=text]:focus,
input[type=password]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
  border-color: #666;
}
select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
input[type=text],
input[type=password],
input.text,
input.title,
textarea,
select {
  margin: 0.5em 0;
}
input.text, input.title {
  width: 300px;
  padding: 5px;
}
input.title {
  font-size: 1.5em;
}
textarea {
  width: 390px;
  height: 250px;
  padding: 5px;
}
form.inline {
  line-height: 3;
}
form.inline p {
  margin-bottom: 0;
}
.error,
.alert,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.error a, .alert a {
  color: #8a1f11;
}
.notice a {
  color: #514721;
}
.success a {
  color: #264409;
}
.info a {
  color: #205791;
}
/* grid.css */
.container {
  width: 1020px;
  margin: 0 auto;
}
.showgrid {
  background: url(src/grid.png);
}
.column,
.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12,
.span-13,
.span-14,
.span-15,
.span-16,
.span-17,
.span-18,
.span-19,
.span-20,
.span-21 {
  float: left;
  margin-right: 30px;
}
.last {
  margin-right: 0;
}
.span-1 {
  width: 20px;
}
.span-2 {
  width: 70px;
}
.span-3 {
  width: 120px;
}
.span-4 {
  width: 170px;
}
.span-5 {
  width: 220px;
}
.span-6 {
  width: 270px;
}
.span-7 {
  width: 320px;
}
.span-8 {
  width: 370px;
}
.span-9 {
  width: 420px;
}
.span-10 {
  width: 470px;
}
.span-11 {
  width: 520px;
}
.span-12 {
  width: 570px;
}
.span-13 {
  width: 620px;
}
.span-14 {
  width: 670px;
}
.span-15 {
  width: 720px;
}
.span-16 {
  width: 770px;
}
.span-17 {
  width: 820px;
}
.span-18 {
  width: 870px;
}
.span-19 {
  width: 920px;
}
.span-20 {
  width: 970px;
}
.span-21 {
  width: 1020px;
  margin-right: 0;
}
input.span-1,
textarea.span-1,
input.span-2,
textarea.span-2,
input.span-3,
textarea.span-3,
input.span-4,
textarea.span-4,
input.span-5,
textarea.span-5,
input.span-6,
textarea.span-6,
input.span-7,
textarea.span-7,
input.span-8,
textarea.span-8,
input.span-9,
textarea.span-9,
input.span-10,
textarea.span-10,
input.span-11,
textarea.span-11,
input.span-12,
textarea.span-12,
input.span-13,
textarea.span-13,
input.span-14,
textarea.span-14,
input.span-15,
textarea.span-15,
input.span-16,
textarea.span-16,
input.span-17,
textarea.span-17,
input.span-18,
textarea.span-18,
input.span-19,
textarea.span-19,
input.span-20,
textarea.span-20,
input.span-21,
textarea.span-21 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
input.span-1, textarea.span-1 {
  width: 8px;
}
input.span-2, textarea.span-2 {
  width: 58px;
}
input.span-3, textarea.span-3 {
  width: 108px;
}
input.span-4, textarea.span-4 {
  width: 158px;
}
input.span-5, textarea.span-5 {
  width: 208px;
}
input.span-6, textarea.span-6 {
  width: 258px;
}
input.span-7, textarea.span-7 {
  width: 308px;
}
input.span-8, textarea.span-8 {
  width: 358px;
}
input.span-9, textarea.span-9 {
  width: 408px;
}
input.span-10, textarea.span-10 {
  width: 458px;
}
input.span-11, textarea.span-11 {
  width: 508px;
}
input.span-12, textarea.span-12 {
  width: 558px;
}
input.span-13, textarea.span-13 {
  width: 608px;
}
input.span-14, textarea.span-14 {
  width: 658px;
}
input.span-15, textarea.span-15 {
  width: 708px;
}
input.span-16, textarea.span-16 {
  width: 758px;
}
input.span-17, textarea.span-17 {
  width: 808px;
}
input.span-18, textarea.span-18 {
  width: 858px;
}
input.span-19, textarea.span-19 {
  width: 908px;
}
input.span-20, textarea.span-20 {
  width: 958px;
}
input.span-21, textarea.span-21 {
  width: 1008px;
}
.append-1 {
  padding-right: 50px;
}
.append-2 {
  padding-right: 100px;
}
.append-3 {
  padding-right: 150px;
}
.append-4 {
  padding-right: 200px;
}
.append-5 {
  padding-right: 250px;
}
.append-6 {
  padding-right: 300px;
}
.append-7 {
  padding-right: 350px;
}
.append-8 {
  padding-right: 400px;
}
.append-9 {
  padding-right: 450px;
}
.append-10 {
  padding-right: 500px;
}
.append-11 {
  padding-right: 550px;
}
.append-12 {
  padding-right: 600px;
}
.append-13 {
  padding-right: 650px;
}
.append-14 {
  padding-right: 700px;
}
.append-15 {
  padding-right: 750px;
}
.append-16 {
  padding-right: 800px;
}
.append-17 {
  padding-right: 850px;
}
.append-18 {
  padding-right: 900px;
}
.append-19 {
  padding-right: 950px;
}
.append-20 {
  padding-right: 1000px;
}
.prepend-1 {
  padding-left: 50px;
}
.prepend-2 {
  padding-left: 100px;
}
.prepend-3 {
  padding-left: 150px;
}
.prepend-4 {
  padding-left: 200px;
}
.prepend-5 {
  padding-left: 250px;
}
.prepend-6 {
  padding-left: 300px;
}
.prepend-7 {
  padding-left: 350px;
}
.prepend-8 {
  padding-left: 400px;
}
.prepend-9 {
  padding-left: 450px;
}
.prepend-10 {
  padding-left: 500px;
}
.prepend-11 {
  padding-left: 550px;
}
.prepend-12 {
  padding-left: 600px;
}
.prepend-13 {
  padding-left: 650px;
}
.prepend-14 {
  padding-left: 700px;
}
.prepend-15 {
  padding-left: 750px;
}
.prepend-16 {
  padding-left: 800px;
}
.prepend-17 {
  padding-left: 850px;
}
.prepend-18 {
  padding-left: 900px;
}
.prepend-19 {
  padding-left: 950px;
}
.prepend-20 {
  padding-left: 1000px;
}
.border {
  padding-right: 14px;
  margin-right: 15px;
  border-right: 1px solid #ddd;
}
.colborder {
  padding-right: 39px;
  margin-right: 40px;
  border-right: 1px solid #ddd;
}
.pull-1 {
  margin-left: -50px;
}
.pull-2 {
  margin-left: -100px;
}
.pull-3 {
  margin-left: -150px;
}
.pull-4 {
  margin-left: -200px;
}
.pull-5 {
  margin-left: -250px;
}
.pull-6 {
  margin-left: -300px;
}
.pull-7 {
  margin-left: -350px;
}
.pull-8 {
  margin-left: -400px;
}
.pull-9 {
  margin-left: -450px;
}
.pull-10 {
  margin-left: -500px;
}
.pull-11 {
  margin-left: -550px;
}
.pull-12 {
  margin-left: -600px;
}
.pull-13 {
  margin-left: -650px;
}
.pull-14 {
  margin-left: -700px;
}
.pull-15 {
  margin-left: -750px;
}
.pull-16 {
  margin-left: -800px;
}
.pull-17 {
  margin-left: -850px;
}
.pull-18 {
  margin-left: -900px;
}
.pull-19 {
  margin-left: -950px;
}
.pull-20 {
  margin-left: -1000px;
}
.pull-21 {
  margin-left: -1050px;
}
.pull-1,
.pull-2,
.pull-3,
.pull-4,
.pull-5,
.pull-6,
.pull-7,
.pull-8,
.pull-9,
.pull-10,
.pull-11,
.pull-12,
.pull-13,
.pull-14,
.pull-15,
.pull-16,
.pull-17,
.pull-18,
.pull-19,
.pull-20,
.pull-21 {
  float: left;
  position: relative;
}
.push-1 {
  margin: 0 -50px 1.5em 50px;
}
.push-2 {
  margin: 0 -100px 1.5em 100px;
}
.push-3 {
  margin: 0 -150px 1.5em 150px;
}
.push-4 {
  margin: 0 -200px 1.5em 200px;
}
.push-5 {
  margin: 0 -250px 1.5em 250px;
}
.push-6 {
  margin: 0 -300px 1.5em 300px;
}
.push-7 {
  margin: 0 -350px 1.5em 350px;
}
.push-8 {
  margin: 0 -400px 1.5em 400px;
}
.push-9 {
  margin: 0 -450px 1.5em 450px;
}
.push-10 {
  margin: 0 -500px 1.5em 500px;
}
.push-11 {
  margin: 0 -550px 1.5em 550px;
}
.push-12 {
  margin: 0 -600px 1.5em 600px;
}
.push-13 {
  margin: 0 -650px 1.5em 650px;
}
.push-14 {
  margin: 0 -700px 1.5em 700px;
}
.push-15 {
  margin: 0 -750px 1.5em 750px;
}
.push-16 {
  margin: 0 -800px 1.5em 800px;
}
.push-17 {
  margin: 0 -850px 1.5em 850px;
}
.push-18 {
  margin: 0 -900px 1.5em 900px;
}
.push-19 {
  margin: 0 -950px 1.5em 950px;
}
.push-20 {
  margin: 0 -1000px 1.5em 1000px;
}
.push-21 {
  margin: 0 -1050px 1.5em 1050px;
}
.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12,
.push-13,
.push-14,
.push-15,
.push-16,
.push-17,
.push-18,
.push-19,
.push-20,
.push-21 {
  float: left;
  position: relative;
}
div.prepend-top, .prepend-top {
  margin-top: 1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom: 1.5em;
}
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix, .container {
  display: block;
}
.clear {
  clear: both;
}
