<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="Description" content="" />
    <meta name="keywords" content="" />
    <meta name="zipcode" content="" />
    
    <title>{% block title %}{% endblock %}</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="/content/scripts/modernizr.2.0.6.js"></script>
	<script type="text/javascript" src="/content/scripts/flexslider/jquery.flexslider.js"></script>
	<link rel="stylesheet" href="/content/application.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/content/scripts/flexslider/flexslider.css" type="text/css" media="screen" />
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="/content/cw10gw20cc33/ie.css" type="text/css" media="screen, projection" />
	<![endif]-->
	
	{% block script %}
	    
	<script type="text/javascript">
		$(document).ready(function(){});
	</script>
	
	{% endblock %}
</head>
<body>
	<div id="wrap">
		<header id="head">
			<div class="container">
				{% include "header.html" %}
			</div>
		</header>
		<nav id="nav">
			<div class="container">
				{% include "nav.html" %}
			</div>
		</nav>
		<div id="main">
			<div class="container">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	<footer id="foot">
		<div class="container">
			{% include "footer.html" %}
		</div>
	</footer>
</body>
</html>