{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Used Bikes{% endblock %}

{% block content %}
	{% load humanize %}
	{% load currency_filters %}
	{% load urlize %}
	{% load bike_img_filter %}
	<div class="main-left">
		<ul class="list-menu">
			{% for c in cats %}
			<li><a href="{% url bike-detail c.id c.name|urlize %}">{{c.name}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="main-right bike-listing">
		<h1 class="page-title">{{ title }}</h1>
<!--		
<table>
			<thead>
				<tr>
					<th>Date Listed</th>
					<th>Brand</th>
					<th>Model</th>
					<th>Size</th>
					<th>Drive Train</th>
					<th>Wheel Size</th>
					<th>Price</th>
					<th>Available</th>
				</tr>
			</thead>
			<tbody>
				{% for b in bikes %}
				<tr>
					<td>{{b.date_listed|naturalday}}</td>
					<td>{{b.brand}}</td>
					<td>{{b.model}}</td>
					<td>{{b.size}}</td>
					<td>{{b.drive_train}}</td>
					<td>{{b.wheel_size}}</td>
					<td>
						{{b.price|currency}}
					</td>
					<td>{{b.has_sold|yesno:"Sold,Yes"}}</td>
				</tr>
				{% empty %}
					<tr>
						<td colspan="9">No bikes currently listed</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	-->
		<ul id="bike-list">
			{% for b in bikes %}
			<li class="bike-item">
				{{ b.photos|bike_img }}
				<div class="details">
					<div class="title">{{ b.title }}</div>
					<div class="price {{b.has_sold|yesno:"sold,"}}"><span class="lbl">Price:</span> <span class="val">{{ b.price|currency }}</span>
						{% if b.has_sold %}
						<span class="has-sold">Sold</span>
						{% endif %}
					</div>
					<ul>
						{% if b.brand %}
						<li>Brand: {{ b.brand }}</li>
						{% endif %}
						{% if b.model %}
						<li>Model: {{ b.model }}</li>
						{% endif %}
						{% if b.size %}
						<li>Size: {{ b.size }}</li>
						{% endif %}
						{% if b.drive_train %}
						<li>Drive Train: {{ b.drive_train }}</li>
						{% endif %}
						{% if b.wheel_size %}
						<li>Wheel Size: {{ b.wheel_size }}</li>
						{% endif %}
					</ul>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}