{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Contact{% endblock %}

{% block content %}
	<div class="main-full contact-us">
		<h1 class="page-title">Contact</h1>
		<div id="mapframe">
			<iframe id="googlemaps" width="580" height="377" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=greenpoint+bikes,+1078+Manhattan+Avenue+Brooklyn,+NY+11222-1011&amp;aq=&amp;sll=40.735413,-73.95479&amp;sspn=0.007528,0.016512&amp;vpsrc=6&amp;g=1078+Manhattan+Avenue+Brooklyn,+NY+11222-1011&amp;ie=UTF8&amp;hq=greenpoint+bikes,&amp;hnear=1078+Manhattan+Ave,+Brooklyn,+Kings,+New+York+11222&amp;t=m&amp;cid=4814691255015109090&amp;ll=40.739811,-73.95155&amp;spn=0.012259,0.024848&amp;z=15&amp;iwloc=A&amp;output=embed">
			</iframe>
		</div>
		<div class="hours-bar">
			<div class="address">
				{% include "address.html" %}
			</div>
			<div class="store-hours">
				<ul>
					<li class="name">Store Hours</li>
					<li>Open 7 Days a week</li>
					<li>Mon-Thurs: 10am to 7pm</li>
					<li>Fri-Sat: 10am to 6pm</li>
					<li>Sun: 12pm to 5pm</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}