<div class="foot-top">
	<div class="biz-name">
		Greenpoint bikes
	</div>
	<div class="address">
		{% include "address.html" %}
	</div>
	<div class="hours">
		<ul>
			<li>Open 7 Days a week</li>
			<li>Mon-Thurs: 10am to 7pm</li>
			<li>Fri-Sat: 10am to 6pm</li>
			<li>Sun: 12pm to 5pm</li>
		</ul>
	</div>
	<a href="{% url contact %}">
		<img class="map" src="/content/images/gp_map.png" alt="map" />
	</a>
	<div class="social">
		<ul>
			<li class="span-7 last">
				<a href="https://www.facebook.com/people/Greenpoint-Bikes/100001804779720"><span class="span-1"><img src="/content/images/facebook_2424.png" /></span><span class="span-6 last">Friend us facebook!</span></a>
			</li>
			<li class="span-7 last">
				<a href="http://www.yelp.com/biz/greenpoint-bikes-brooklyn-2"><span class="span-1"><img src="/content/images/yelp2424.png" /></span><span class="span-6 last">Review us on Yelp!</span></a>
			</li>
		</ul>
	</div>
</div>
<div class="foot-bot">
	<div class="foot-l">&copy; copyright 2011-2012</div>
	<div class="foot-r">
		<img alt="KHS Dealer" src="/content/images/gp_foot_khs.png" />
	</div>
</div>