{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Grid{% endblock %}

{% block content %}
	<div class="main-full grid-tests">
		<h1 class="page-title">Grid Tests</h1>
		<p>
			Grid tests will go here
		</p>
		
		{% for i in rangelst %}
			<div class="span-33 box-area">
				{% for j in i %}
					<div class="{{ j.css }}"><div class="area">{{ j.num }}</div></div>
				{% endfor %}
			</div>
		{% endfor %}
		
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
{% endblock %}