	<div class="header-bar">
		<div class="logo">
			<img src="/content/images/gp_logo.png" alt="Greenpoint Bikes" />
		</div>
		<!--
		<div class="contact">
			
			<div class="label"><span>A:</span>1078 Manhattan Ave, Brooklyn, NY, 11222</div>
			<div class="label"><span>T:</span>718-389-3818 [ everyday 10am - 7pm ]</div>
			<div class="label"><span>E:</span>greenpointbikes@@gmail.com</div>
			
		</div>
		-->
	</div>