{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Home{% endblock %}

{% block content %}
	<div class="main-full">
		<h1 class="page-title">Welcome</h1>
		<script type="text/javascript">
			$(document).ready(function(){
				$('.homeslides').flexslider({
					animation: "slide",
					controlsContainer: ".flexcontainer",
					directionNav: false,
					controlNav: false,
					keyboardNav: false,
				});
			});
		</script>
		<div class="flexcontainer">
			<div class="homeslides">
			    <ul class="slides">
			    	<li>
			    		<img src="/content/shop-images/shop1.jpg" class="span-32 last" />
			    	</li>
			    	<li>
			    		<img src="/content/shop-images/shop2.jpg" class="span-32 last" />
			    	</li>
			    	<li>
			    		<img src="/content/shop-images/shop3.jpg" class="span-32 last" />
			    	</li>
			    	<li>
			    		<img src="/content/shop-images/shop4.jpg" class="span-32 last" />
			    	</li>
			    	<li>
			    		<img src="/content/shop-images/shop5.jpg" class="span-32 last" />
			    	</li>
			    </ul>
		  </div>
	  </div>
	  <p>
	  	Any content you want to display here
	  </p>
	</div>
{% endblock %}