{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Home{% endblock %}

{% block content %}
    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    
    <form action="" method="post">
        <p>
            <label for="username">User name:</label>
            <input type="text" name="username" value="" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password">
        </p>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
        {% csrf_token %}
    </form>
{% endblock %}