	<div class="nav-pad">&nbsp;</div>
	<ul class="nav-list">
		<li class="first"><a href="{% url beta-home %}">Home</a></li>
		<li><a href="" class="nav-spacer">&nbsp;</a></li>
		<li><a href="{% url service %}">Service</a></li>
		<li><a href="" class="nav-spacer">&nbsp;</a></li>
		<li><a href="{% url rentals %}">Rentals</a></li>
		<li><a href="" class="nav-spacer">&nbsp;</a></li>
		<li><a href="{% url contact %}">Contact</a></li>
	</ul>