{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Home{% endblock %}

{% block content %}
	<div class="main-left">
		<ul class="list-menu">
			<li><a href="/">Rental Bikes</a></li>
			<li><a href="/">Policy &amp; Legal Forms</a></li>
		</ul>
	</div>
	<div class="main-right rentals">
		<h1 class="page-title">Rentals</h1>
		<p class="service-description">
			Rental Information here
		</p>
	</div>
{% endblock %}