<h1 class="page-title">{{ title }}</h1>
<p class="service-description">
	When it comes to service we like to keep things simple. We offer a tune-up for $XX.XX 
	and an overhaul for $XXX.XX. We don't try to complicate anything with pro level or 
	deluxe tune-ups. We feel that everyone deserves the same level of courtesy and respect 
	when it comes to working on your bike, and we won't charge a premium for that.
</p>
<div class="tune-up">
	<h1 class="description">Tune-Up</h1>
	<ul>
		<li>Cleaning of the bike</li>
		<li>Drive train lube </li>
		<li>Lube brake &amp; derailleur cables, derailleur pivot points</li>
		<li>True wheels &amp; check spoke tension </li>
		<li>Adjust brakes </li>
		<li>Adjust front &amp; rear derailleurs </li>
		<li>Adjust head set &amp; bearings</li>
		<li>Adjust hubs / cones &amp; bearings</li>
		<li>Adjust bottom bracket &amp; crank</li>
		<li>Check &amp; tighten all bolts, nuts &amp; fasteners</li>
		<li>Check tires for wear, cuts &amp; punctures</li>
		<li>Check &amp; adjust tire pressure</li>
		<li>Inspect frame, fork and all parts</li>
	</ul>
</div>
<div class="overhaul">
	<h1 class="description">Overhaul</h1>
	<ul>
		<li>Cleaning of the bike</li>
		<li>Drive train lube (chain &amp; gears)</li>
		<li>Lube brake &amp; derailleur cables, derailleur pivot points</li>
		<li>True wheels &amp; check spoke tension (individually in truing stand)</li>
		<li>Adjust brakes &amp; align pads / shoes</li>
		<li>Adjust gears (front &amp; rear derailleur / shifters)</li>
		<li>Adjust head set &amp; bearings</li>
		<li>Adjust hubs / cones &amp; bearings</li>
		<li>Adjust bottom bracket &amp; crank</li>
		<li>Check &amp; tighten all bolts, nuts &amp; fasteners</li>
		<li>Check tires for wear, cuts &amp; punctures</li>
		<li>Check &amp; adjust tire pressure</li>
		<li>Dismantled to the frame (remove BB, H/S, overhaul Hubs)</li>
		<li>Labor includes complete re-cable (all parts EXTRA)</li>
	</ul>
</div>