{% extends "_master.html" %}

{% block title %}
Greenpoint Bikes - {{ title }}
{% endblock %}

{% block content %}
	{% load urlize %}
	<div class="main-left">
		<ul class="list-menu">
			{% for s in services %}
			<li><a href="{{ s.get_absolute_url }}">{{ s.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="main-right bike-service">
		{% include template with title=title %}
	</div>
{% endblock %}