{% extends "_master.html" %}

{% block title %}Greenpoint Bikes - Home{% endblock %}

{% block content %}
    <form id="loginform" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Login:</td>
                    <td><input id="login" type="text" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input id="pass" type="password" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input id="btnLogin" type="submit" value="Submit" />
            </tbody>
        </table>
        {% csrf_token %}
    </form>
{% endblock %}