/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */
/* reset.css */
html {
  margin: 0;
  padding: 0;
  border: 0;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table, th, td {
  vertical-align: middle;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
/* typography.css */
html {
  font-size: 100.01%;
}
body {
  font-size: 75%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
  margin: 0;
}
p {
  margin: 0 0 1.5em;
}
.left {
  float: left !important;
}
p .left {
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
.right {
  float: right !important;
}
p .right {
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a:focus, a:hover {
  color: #09f;
}
a {
  color: #06c;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
strong, dfn {
  font-weight: bold;
}
em, dfn {
  font-style: italic;
}
sup, sub {
  line-height: 0;
}
abbr, acronym {
  border-bottom: 1px dotted #666;
}
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul, li ol {
  margin: 0;
}
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.5em;
}
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th {
  font-weight: bold;
}
thead th {
  background: #c3d9ff;
}
th, td, caption {
  padding: 4px 10px 4px 5px;
}
tbody tr:nth-child(even) td, tbody tr.even td {
  background: #e5ecf9;
}
tfoot {
  font-style: italic;
}
caption {
  background: #eee;
}
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
.hide {
  display: none;
}
.quiet {
  color: #666;
}
.loud {
  color: #000;
}
.highlight {
  background: #ff0;
}
.added {
  background: #060;
  color: #fff;
}
.removed {
  background: #900;
  color: #fff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* forms.css */
label {
  font-weight: bold;
}
fieldset {
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}
fieldset, #IE8#HACK {
  padding-top: 1.4em;
}
legend, #IE8#HACK {
  margin-top: 0;
  margin-bottom: 0;
}
input[type=text],
input[type=password],
input.text,
input.title,
textarea {
  background-color: #fff;
  border: 1px solid #bbb;
}
input[type=text]:focus,
input[type=password]:focus,
input.text:focus,
input.title:focus,
textarea:focus {
  border-color: #666;
}
select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
input[type=text],
input[type=password],
input.text,
input.title,
textarea,
select {
  margin: 0.5em 0;
}
input.text, input.title {
  width: 300px;
  padding: 5px;
}
input.title {
  font-size: 1.5em;
}
textarea {
  width: 390px;
  height: 250px;
  padding: 5px;
}
form.inline {
  line-height: 3;
}
form.inline p {
  margin-bottom: 0;
}
.error,
.alert,
.notice,
.success,
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
.success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
.error a, .alert a {
  color: #8a1f11;
}
.notice a {
  color: #514721;
}
.success a {
  color: #264409;
}
.info a {
  color: #205791;
}
/* grid.css */
.container {
  width: 970px;
  margin: 0 auto;
}
.showgrid {
  background: url(src/grid.png);
}
.column,
.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12,
.span-13,
.span-14,
.span-15,
.span-16,
.span-17,
.span-18,
.span-19,
.span-20,
.span-21,
.span-22,
.span-23,
.span-24,
.span-25,
.span-26,
.span-27,
.span-28,
.span-29,
.span-30,
.span-31,
.span-32,
.span-33 {
  float: left;
  margin-right: 20px;
}
.last {
  margin-right: 0;
}
.span-1 {
  width: 10px;
}
.span-2 {
  width: 40px;
}
.span-3 {
  width: 70px;
}
.span-4 {
  width: 100px;
}
.span-5 {
  width: 130px;
}
.span-6 {
  width: 160px;
}
.span-7 {
  width: 190px;
}
.span-8 {
  width: 220px;
}
.span-9 {
  width: 250px;
}
.span-10 {
  width: 280px;
}
.span-11 {
  width: 310px;
}
.span-12 {
  width: 340px;
}
.span-13 {
  width: 370px;
}
.span-14 {
  width: 400px;
}
.span-15 {
  width: 430px;
}
.span-16 {
  width: 460px;
}
.span-17 {
  width: 490px;
}
.span-18 {
  width: 520px;
}
.span-19 {
  width: 550px;
}
.span-20 {
  width: 580px;
}
.span-21 {
  width: 610px;
}
.span-22 {
  width: 640px;
}
.span-23 {
  width: 670px;
}
.span-24 {
  width: 700px;
}
.span-25 {
  width: 730px;
}
.span-26 {
  width: 760px;
}
.span-27 {
  width: 790px;
}
.span-28 {
  width: 820px;
}
.span-29 {
  width: 850px;
}
.span-30 {
  width: 880px;
}
.span-31 {
  width: 910px;
}
.span-32 {
  width: 940px;
}
.span-33 {
  width: 970px;
  margin-right: 0;
}
input.span-1,
textarea.span-1,
input.span-2,
textarea.span-2,
input.span-3,
textarea.span-3,
input.span-4,
textarea.span-4,
input.span-5,
textarea.span-5,
input.span-6,
textarea.span-6,
input.span-7,
textarea.span-7,
input.span-8,
textarea.span-8,
input.span-9,
textarea.span-9,
input.span-10,
textarea.span-10,
input.span-11,
textarea.span-11,
input.span-12,
textarea.span-12,
input.span-13,
textarea.span-13,
input.span-14,
textarea.span-14,
input.span-15,
textarea.span-15,
input.span-16,
textarea.span-16,
input.span-17,
textarea.span-17,
input.span-18,
textarea.span-18,
input.span-19,
textarea.span-19,
input.span-20,
textarea.span-20,
input.span-21,
textarea.span-21,
input.span-22,
textarea.span-22,
input.span-23,
textarea.span-23,
input.span-24,
textarea.span-24,
input.span-25,
textarea.span-25,
input.span-26,
textarea.span-26,
input.span-27,
textarea.span-27,
input.span-28,
textarea.span-28,
input.span-29,
textarea.span-29,
input.span-30,
textarea.span-30,
input.span-31,
textarea.span-31,
input.span-32,
textarea.span-32,
input.span-33,
textarea.span-33 {
  border-left-width: 1px;
  border-right-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
input.span-1, textarea.span-1 {
  width: -2px;
}
input.span-2, textarea.span-2 {
  width: 28px;
}
input.span-3, textarea.span-3 {
  width: 58px;
}
input.span-4, textarea.span-4 {
  width: 88px;
}
input.span-5, textarea.span-5 {
  width: 118px;
}
input.span-6, textarea.span-6 {
  width: 148px;
}
input.span-7, textarea.span-7 {
  width: 178px;
}
input.span-8, textarea.span-8 {
  width: 208px;
}
input.span-9, textarea.span-9 {
  width: 238px;
}
input.span-10, textarea.span-10 {
  width: 268px;
}
input.span-11, textarea.span-11 {
  width: 298px;
}
input.span-12, textarea.span-12 {
  width: 328px;
}
input.span-13, textarea.span-13 {
  width: 358px;
}
input.span-14, textarea.span-14 {
  width: 388px;
}
input.span-15, textarea.span-15 {
  width: 418px;
}
input.span-16, textarea.span-16 {
  width: 448px;
}
input.span-17, textarea.span-17 {
  width: 478px;
}
input.span-18, textarea.span-18 {
  width: 508px;
}
input.span-19, textarea.span-19 {
  width: 538px;
}
input.span-20, textarea.span-20 {
  width: 568px;
}
input.span-21, textarea.span-21 {
  width: 598px;
}
input.span-22, textarea.span-22 {
  width: 628px;
}
input.span-23, textarea.span-23 {
  width: 658px;
}
input.span-24, textarea.span-24 {
  width: 688px;
}
input.span-25, textarea.span-25 {
  width: 718px;
}
input.span-26, textarea.span-26 {
  width: 748px;
}
input.span-27, textarea.span-27 {
  width: 778px;
}
input.span-28, textarea.span-28 {
  width: 808px;
}
input.span-29, textarea.span-29 {
  width: 838px;
}
input.span-30, textarea.span-30 {
  width: 868px;
}
input.span-31, textarea.span-31 {
  width: 898px;
}
input.span-32, textarea.span-32 {
  width: 928px;
}
input.span-33, textarea.span-33 {
  width: 958px;
}
.append-1 {
  padding-right: 30px;
}
.append-2 {
  padding-right: 60px;
}
.append-3 {
  padding-right: 90px;
}
.append-4 {
  padding-right: 120px;
}
.append-5 {
  padding-right: 150px;
}
.append-6 {
  padding-right: 180px;
}
.append-7 {
  padding-right: 210px;
}
.append-8 {
  padding-right: 240px;
}
.append-9 {
  padding-right: 270px;
}
.append-10 {
  padding-right: 300px;
}
.append-11 {
  padding-right: 330px;
}
.append-12 {
  padding-right: 360px;
}
.append-13 {
  padding-right: 390px;
}
.append-14 {
  padding-right: 420px;
}
.append-15 {
  padding-right: 450px;
}
.append-16 {
  padding-right: 480px;
}
.append-17 {
  padding-right: 510px;
}
.append-18 {
  padding-right: 540px;
}
.append-19 {
  padding-right: 570px;
}
.append-20 {
  padding-right: 600px;
}
.append-21 {
  padding-right: 630px;
}
.append-22 {
  padding-right: 660px;
}
.append-23 {
  padding-right: 690px;
}
.append-24 {
  padding-right: 720px;
}
.append-25 {
  padding-right: 750px;
}
.append-26 {
  padding-right: 780px;
}
.append-27 {
  padding-right: 810px;
}
.append-28 {
  padding-right: 840px;
}
.append-29 {
  padding-right: 870px;
}
.append-30 {
  padding-right: 900px;
}
.append-31 {
  padding-right: 930px;
}
.append-32 {
  padding-right: 960px;
}
.prepend-1 {
  padding-left: 30px;
}
.prepend-2 {
  padding-left: 60px;
}
.prepend-3 {
  padding-left: 90px;
}
.prepend-4 {
  padding-left: 120px;
}
.prepend-5 {
  padding-left: 150px;
}
.prepend-6 {
  padding-left: 180px;
}
.prepend-7 {
  padding-left: 210px;
}
.prepend-8 {
  padding-left: 240px;
}
.prepend-9 {
  padding-left: 270px;
}
.prepend-10 {
  padding-left: 300px;
}
.prepend-11 {
  padding-left: 330px;
}
.prepend-12 {
  padding-left: 360px;
}
.prepend-13 {
  padding-left: 390px;
}
.prepend-14 {
  padding-left: 420px;
}
.prepend-15 {
  padding-left: 450px;
}
.prepend-16 {
  padding-left: 480px;
}
.prepend-17 {
  padding-left: 510px;
}
.prepend-18 {
  padding-left: 540px;
}
.prepend-19 {
  padding-left: 570px;
}
.prepend-20 {
  padding-left: 600px;
}
.prepend-21 {
  padding-left: 630px;
}
.prepend-22 {
  padding-left: 660px;
}
.prepend-23 {
  padding-left: 690px;
}
.prepend-24 {
  padding-left: 720px;
}
.prepend-25 {
  padding-left: 750px;
}
.prepend-26 {
  padding-left: 780px;
}
.prepend-27 {
  padding-left: 810px;
}
.prepend-28 {
  padding-left: 840px;
}
.prepend-29 {
  padding-left: 870px;
}
.prepend-30 {
  padding-left: 900px;
}
.prepend-31 {
  padding-left: 930px;
}
.prepend-32 {
  padding-left: 960px;
}
.border {
  padding-right: 9px;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}
.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #ddd;
}
.pull-1 {
  margin-left: -30px;
}
.pull-2 {
  margin-left: -60px;
}
.pull-3 {
  margin-left: -90px;
}
.pull-4 {
  margin-left: -120px;
}
.pull-5 {
  margin-left: -150px;
}
.pull-6 {
  margin-left: -180px;
}
.pull-7 {
  margin-left: -210px;
}
.pull-8 {
  margin-left: -240px;
}
.pull-9 {
  margin-left: -270px;
}
.pull-10 {
  margin-left: -300px;
}
.pull-11 {
  margin-left: -330px;
}
.pull-12 {
  margin-left: -360px;
}
.pull-13 {
  margin-left: -390px;
}
.pull-14 {
  margin-left: -420px;
}
.pull-15 {
  margin-left: -450px;
}
.pull-16 {
  margin-left: -480px;
}
.pull-17 {
  margin-left: -510px;
}
.pull-18 {
  margin-left: -540px;
}
.pull-19 {
  margin-left: -570px;
}
.pull-20 {
  margin-left: -600px;
}
.pull-21 {
  margin-left: -630px;
}
.pull-22 {
  margin-left: -660px;
}
.pull-23 {
  margin-left: -690px;
}
.pull-24 {
  margin-left: -720px;
}
.pull-25 {
  margin-left: -750px;
}
.pull-26 {
  margin-left: -780px;
}
.pull-27 {
  margin-left: -810px;
}
.pull-28 {
  margin-left: -840px;
}
.pull-29 {
  margin-left: -870px;
}
.pull-30 {
  margin-left: -900px;
}
.pull-31 {
  margin-left: -930px;
}
.pull-32 {
  margin-left: -960px;
}
.pull-33 {
  margin-left: -990px;
}
.pull-1,
.pull-2,
.pull-3,
.pull-4,
.pull-5,
.pull-6,
.pull-7,
.pull-8,
.pull-9,
.pull-10,
.pull-11,
.pull-12,
.pull-13,
.pull-14,
.pull-15,
.pull-16,
.pull-17,
.pull-18,
.pull-19,
.pull-20,
.pull-21,
.pull-22,
.pull-23,
.pull-24,
.pull-25,
.pull-26,
.pull-27,
.pull-28,
.pull-29,
.pull-30,
.pull-31,
.pull-32,
.pull-33 {
  float: left;
  position: relative;
}
.push-1 {
  margin: 0 -30px 1.5em 30px;
}
.push-2 {
  margin: 0 -60px 1.5em 60px;
}
.push-3 {
  margin: 0 -90px 1.5em 90px;
}
.push-4 {
  margin: 0 -120px 1.5em 120px;
}
.push-5 {
  margin: 0 -150px 1.5em 150px;
}
.push-6 {
  margin: 0 -180px 1.5em 180px;
}
.push-7 {
  margin: 0 -210px 1.5em 210px;
}
.push-8 {
  margin: 0 -240px 1.5em 240px;
}
.push-9 {
  margin: 0 -270px 1.5em 270px;
}
.push-10 {
  margin: 0 -300px 1.5em 300px;
}
.push-11 {
  margin: 0 -330px 1.5em 330px;
}
.push-12 {
  margin: 0 -360px 1.5em 360px;
}
.push-13 {
  margin: 0 -390px 1.5em 390px;
}
.push-14 {
  margin: 0 -420px 1.5em 420px;
}
.push-15 {
  margin: 0 -450px 1.5em 450px;
}
.push-16 {
  margin: 0 -480px 1.5em 480px;
}
.push-17 {
  margin: 0 -510px 1.5em 510px;
}
.push-18 {
  margin: 0 -540px 1.5em 540px;
}
.push-19 {
  margin: 0 -570px 1.5em 570px;
}
.push-20 {
  margin: 0 -600px 1.5em 600px;
}
.push-21 {
  margin: 0 -630px 1.5em 630px;
}
.push-22 {
  margin: 0 -660px 1.5em 660px;
}
.push-23 {
  margin: 0 -690px 1.5em 690px;
}
.push-24 {
  margin: 0 -720px 1.5em 720px;
}
.push-25 {
  margin: 0 -750px 1.5em 750px;
}
.push-26 {
  margin: 0 -780px 1.5em 780px;
}
.push-27 {
  margin: 0 -810px 1.5em 810px;
}
.push-28 {
  margin: 0 -840px 1.5em 840px;
}
.push-29 {
  margin: 0 -870px 1.5em 870px;
}
.push-30 {
  margin: 0 -900px 1.5em 900px;
}
.push-31 {
  margin: 0 -930px 1.5em 930px;
}
.push-32 {
  margin: 0 -960px 1.5em 960px;
}
.push-33 {
  margin: 0 -990px 1.5em 990px;
}
.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12,
.push-13,
.push-14,
.push-15,
.push-16,
.push-17,
.push-18,
.push-19,
.push-20,
.push-21,
.push-22,
.push-23,
.push-24,
.push-25,
.push-26,
.push-27,
.push-28,
.push-29,
.push-30,
.push-31,
.push-32,
.push-33 {
  float: left;
  position: relative;
}
div.prepend-top, .prepend-top {
  margin-top: 1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom: 1.5em;
}
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5eCf9;
}
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
.clearfix, .container {
  display: block;
}
.clear {
  clear: both;
}
body, html {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#content {
  overflow: auto;
  padding-bottom: 150px;
}
#footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
}
.container {
  padding-left: 2px;
  padding-right: 2px;
}
#head {
  height: 99px;
}
#head .header-bar {
  float: left;
  margin-right: 20px;
  width: 970px;
  margin-right: 0;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#head .header-bar .logo {
  float: left;
  margin-right: 20px;
  width: 670px;
}
#head .header-bar .contact {
  float: left;
  margin-right: 20px;
  width: 280px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
  padding: 2px 0;
}
#head .header-bar .contact .label {
  text-align: left;
  padding: 0 10px;
}
#head .header-bar .contact .label span {
  margin-right: 10px;
}
#head .header-bar .contact {
  color: #FFF;
  background-color: #999;
  font-size: 12px;
  margin-top: 20px;
}
#head {
  background: url('/content/images/header-bg.png') repeat-x;
}
#nav {
  height: 33px;
}
#nav .nav-pad {
  float: left;
  margin-right: 20px;
  width: 10px;
}
#nav ul.nav-list {
  float: left;
  margin-right: 20px;
  width: 940px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#nav ul.nav-list li {
  float: left;
  margin: 0;
  padding: 0;
}
#nav {
  background-color: #333;
}
#nav ul.nav-list li {
  line-height: 13px;
}
#nav ul.nav-list li span.nav-spacer {
  color: #000;
  display: block;
  border-left: solid #FFF 1px;
}
#nav ul.nav-list li a.nav-spacer {
  border-left: solid #FFF 1px;
  padding: 0;
  margin: 5px 0;
  width: 1px;
}
#nav ul.nav-list li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
#nav ul.nav-list li a, #nav ul.nav-list li a:active, #nav ul.nav-list li a:visited {
  color: #CC3333;
}
#nav ul.nav-list li a:HOVER {
  color: #FF3333;
}
#nav ul.nav-list li.first a {
  padding-left: 0;
}
#main .main-full {
  float: left;
  margin-right: 20px;
  width: 940px;
  padding-left: 30px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#main .main-left {
  float: left;
  margin-right: 20px;
  width: 220px;
  padding-left: 30px;
}
#main .main-left ul.list-menu {
  float: left;
  margin-right: 20px;
  width: 190px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#main .main-right {
  float: left;
  margin-right: 20px;
  width: 700px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#main .main-right h1.page-title, #main .main-full h1.page-title {
  float: left;
  margin-right: 20px;
  width: 940px;
}
#main .main-right h1.page-title {
  width: 100%;
}
#main .main-left ul.list-menu {
  background-color: #f2f2f2;
}
#main .main-full, #main .main-left, #main .main-right {
  margin-top: 20px;
}
#main .main-right h1.page-title, #main .main-full h1.page-title {
  font-size: 20px;
  color: #CC3333;
  margin: 0 0 5px 0;
}
ul.list-menu {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  border-top: solid #000 1px;
  border-bottom: solid #000 1px;
}
ul.list-menu li a {
  display: block;
  padding: 0 0 0 15px;
  margin: 0 15px 0 0;
  text-decoration: none;
}
ul.list-menu li a:hover {
  color: #000;
  background-color: #f9f9f9;
}
.flexcontainer {
  float: left;
  margin-right: 20px;
  width: 940px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.bike-listing ul#bike-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bike-listing ul#bike-list li.bike-item {
  float: left;
  margin-right: 20px;
  width: 340px;
  margin-bottom: 20px;
}
.bike-listing ul#bike-list li.bike-item img {
  float: left;
  margin-right: 20px;
  width: 340px;
}
.bike-listing ul#bike-list li.bike-item .details .title {
  font-size: 20px;
}
.bike-listing ul#bike-list li.bike-item .details .price.sold .val {
  text-decoration: line-through;
}
.bike-listing ul#bike-list li.bike-item .details .price .lbl {
  color: red;
  text-transform: uppercase;
}
.bike-listing ul#bike-list li.bike-item .details .price .val {
  color: #999;
}
.bike-listing ul#bike-list li.bike-item .details .price .has-sold {
  font-weight: bold;
}
.bike-listing ul#bike-list li.bike-item:nth-child(even) {
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.bike-service .service-description {
  float: left;
  margin-right: 20px;
  width: 700px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.bike-service h1.description {
  float: left;
  margin-right: 20px;
  width: 340px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.bike-service .tune-up {
  float: left;
  margin-right: 20px;
  width: 340px;
}
.bike-service .tune-up ul {
  float: left;
  margin-right: 20px;
  width: 340px;
}
.bike-service .tune-up ul li {
  margin-left: 15px;
}
.bike-service .overhaul {
  float: left;
  margin-right: 20px;
  width: 460px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.bike-service .overhaul ul {
  float: left;
  margin-right: 20px;
  width: 460px;
}
.bike-service .overhaul ul li {
  margin-left: 15px;
}
.contact-us #googlemaps {
  float: left;
  margin-right: 20px;
  width: 640px;
  height: 377px;
}
.contact-us .hours-bar {
  float: left;
  margin-right: 20px;
  width: 280px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
.contact-us .hours-bar .store-hours ul, .contact-us .hours-bar .address ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contact-us .hours-bar .store-hours ul li.name, .contact-us .hours-bar .address ul li.name {
  font-size: 18px;
  font-weight: bold;
}
.contact-us .hours-bar .store-hours {
  margin-top: 20px;
}
#foot .foot-top, #foot .foot-bot {
  float: left;
  margin-right: 20px;
  width: 940px;
  padding-left: 30px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#foot .foot-bot .foot-l {
  float: left;
  margin-right: 20px;
  width: 640px;
}
#foot .foot-bot .foot-r {
  float: left;
  margin-right: 20px;
  width: 280px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#foot .foot-bot .foot-r {
  text-align: right;
}
#foot .foot-top {
  padding-top: 30px;
}
#foot .foot-bot {
  padding-top: 30px;
  padding-bottom: 30px;
}
#foot .foot-top .biz-name {
  float: left;
  margin-right: 20px;
  width: 940px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
  font-size: 18px;
  font-weight: bold;
}
#foot .foot-top .address {
  float: left;
  margin-right: 20px;
  width: 250px;
}
#foot .foot-top .hours {
  float: left;
  margin-right: 20px;
  width: 160px;
}
#foot .foot-top .map {
  float: left;
  margin-right: 20px;
  width: 190px;
}
#foot .foot-top .social {
  margin: 0 -60px 1.5em 60px;
  float: left;
  position: relative;
  float: left;
  margin-right: 20px;
  width: 220px;
  margin-right: 0;
  padding-right: 0;
  margin-right: 0;
}
#foot .foot-top .address ul, #foot .foot-top .hours ul, #foot .foot-top .social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#foot {
  background-color: #202021;
  color: #FFF;
}
.area {
  background-color: #E5ECF9;
  text-align: center;
}
.box-area {
  margin-bottom: 10px;
}
