//////////
// SITE //
//////////

//include the blueprint css file
//@import 'cw20gw30cc21/screen.less';
@import 'cw10gw20cc33/screen.less';

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
// sticky-footer-code
////////////////////////////////////////////////////////////////////////
@stickyfoot: 150px;
body, html{height: 100%;}
#wrap{min-height: 100%;}
#content{overflow: auto;padding-bottom: @stickyfoot;}
#footer {position: relative;margin-top: @stickyfoot * -1;height: @stickyfoot;clear:both;}
////////////////////////////////////////////////////////////////////////
// end sticky-footer-code
////////////////////////////////////////////////////////////////////////

.container{padding-left: 2px; padding-right: 2px;}

////////////////////////////////////////////////////////////////////////
// header-section
////////////////////////////////////////////////////////////////////////
#head{height: 99px;}
#head .header-bar{.span-33;.last;}
#head .header-bar .logo{.span-23;}
#head .header-bar .contact{.span-10;.last; padding: 2px 0;}
#head .header-bar .contact .label{ text-align: left; padding: 0 10px;}
#head .header-bar .contact .label span{ margin-right: 10px;}
#head .header-bar .contact{
	color: #FFF;
	//background: url('/content/images/gp_logo_bg.png') repeat-x #999999;
	background-color: #999;
	font-size: 12px;
	margin-top: 20px;
}
#head{
	background: url('/content/images/header-bg.png') repeat-x;
}

////////////////////////////////////////////////////////////////////////
// nav-section
////////////////////////////////////////////////////////////////////////
#nav{ height: 33px; }
#nav .nav-pad{.span-1;}
#nav ul.nav-list{ .span-32; .last; list-style-type: none; margin: 0; padding: 0; }
#nav ul.nav-list li{ float: left; margin: 0; padding: 0;}


#nav{background-color: #333;}
#nav ul.nav-list li{line-height: 13px; }
#nav ul.nav-list li span.nav-spacer{
	color: #000;
	display: block;
	border-left: solid #FFF 1px;
}
#nav ul.nav-list li a.nav-spacer{
	border-left: solid #FFF 1px;
	padding: 0; 
	margin: 5px 0;
	width: 1px;
}
#nav ul.nav-list li a{
	display: block;
	padding: 5px 10px;
	text-decoration: none;
}
#nav ul.nav-list li a,
#nav ul.nav-list li a:active,
#nav ul.nav-list li a:visited{color: #CC3333;}
#nav ul.nav-list li a:HOVER{color: #FF3333;}

#nav ul.nav-list li.first a{padding-left: 0;}

////////////////////////////////////////////////////////////////////////
// main-content-section
////////////////////////////////////////////////////////////////////////
#main .main-full{ .span-32; .prepend-1; .last; }
#main .main-left{ .span-8; .prepend-1; }
#main .main-left ul.list-menu{ .span-7; .last; }
#main .main-right{ .span-24; .last; }
#main .main-right h1.page-title, 
#main .main-full h1.page-title{.span-32;}
#main .main-right h1.page-title{ width:100%;}

#main .main-left  ul.list-menu{ background-color: #f2f2f2; }
#main .main-full, #main .main-left, #main .main-right{ margin-top: 20px; }

#main .main-right h1.page-title,
#main .main-full h1.page-title{
	font-size: 20px;
	color: #CC3333;
	margin: 0 0 5px 0;
}


@list-menu-padding: 15px;
ul.list-menu{
	list-style-type: none;
	margin: 0;
	padding: @list-menu-padding;
	border-top: solid #000 1px;
	border-bottom: solid #000 1px;
}
ul.list-menu li{}
ul.list-menu li a{
	display: block;
	padding: 0 0 0 @list-menu-padding;
	margin: 0 @list-menu-padding 0 0;
	text-decoration: none;
}
ul.list-menu li a:hover{
	color: #000;
	background-color: #f9f9f9;
}

.flexcontainer{
	.span-32; .last;
}

////////////////////////////////////////////////////////////////////////
// Bike listing
////////////////////////////////////////////////////////////////////////

.bike-listing{
	ul#bike-list{
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		li.bike-item{
			.span-12;
			margin-bottom: 20px;
			img{
				.span-12;
			}
	
			.details{
				.title{
					font-size: 20px;
				}
				.price{
					&.sold{
						.val{text-decoration: line-through;}
					}
					.lbl{ color: red; text-transform: uppercase;}
					.val{ color: #999;}
					.has-sold{
						font-weight: bold;
					}
				}
			}
		}
		li.bike-item:nth-child(even){
			.last;
		}
	} 
}




////////////////////////////////////////////////////////////////////////
// service-section
////////////////////////////////////////////////////////////////////////

.bike-service{
	.service-description{
		.span-24;
		.last;
	}
	
	h1.description{
		.span-12;
		font-size: 16px;
		font-weight: bold;
		color: #000;
	}
	
	.tune-up{
		.span-12;
		ul{
			.span-12;
			li{margin-left: 15px;}
		}
	}
	
	.overhaul{
		.span-16;
		.last;
		ul{
			.span-16;
			li{margin-left: 15px;}
		}
	}
}

////////////////////////////////////////////////////////////////////////
// Contact-us-section
////////////////////////////////////////////////////////////////////////
.contact-us #googlemaps{
	.span-22;
	height: 377px;
}
.contact-us .hours-bar{
	.span-10; .last;
}

.contact-us .hours-bar .store-hours ul,
.contact-us .hours-bar .address ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.contact-us .hours-bar .store-hours ul li.name,
.contact-us .hours-bar .address ul li.name{
	font-size: 18px;
	font-weight: bold;
}
.contact-us .hours-bar .store-hours{
	margin-top: 20px;
}

////////////////////////////////////////////////////////////////////////
// footer-section
////////////////////////////////////////////////////////////////////////
#foot .foot-top,#foot .foot-bot{.span-32; .prepend-1; .last;}
#foot .foot-bot .foot-l{.span-22;}
#foot .foot-bot .foot-r{.span-10; .last;}
#foot .foot-bot .foot-r{text-align: right; }
#foot .foot-top{
	padding-top: 30px;
}

#foot .foot-bot{
	padding-top: 30px;
	padding-bottom: 30px;
}

#foot .foot-top .biz-name{.span-32; .last; font-size: 18px; font-weight: bold;}
#foot .foot-top .address{.span-9;}
#foot .foot-top .hours{.span-6;}
#foot .foot-top .map{.span-7;}
#foot .foot-top .social{ .push-2; .span-8;.last;}


#foot .foot-top .address ul,
#foot .foot-top .hours ul,
#foot .foot-top .social ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#foot{
	background-color: #202021;
	color: #FFF;
}

.area{
	background-color: #E5ECF9;
	text-align: center;
}

.box-area{
	margin-bottom: 10px;
}
