 /*hide from ie on mac\*/
html {
	/*height: 100%;
	overflow: hidden*/
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  font-family: Georgia, serif;
	color:#fff;
	background-image:url("images/bg-image.jpg");
	background-color:#000;
}

#outer {
	width: 786px;
	margin:40px auto;
}

#box {
	width:786px;
	height: 220px;
	border: 3px solid #fff;
	background:#000;
	margin-top:20px;
	padding:0px;
	text-align:center;
}

table {width:100%; height:100%; border: 0px;}

td {
	border: 0;
	vertical-align:middle;
}



#features {
	list-style-type: none;
}

ul{
	margin:0px;
	padding:0px;
}

li {
	display: block;
	height:25px;
	background-position:center;
	text-align:center;
	margin:0px;
	padding:0px;
}

li a {
display:block;
height:25px;
}


span {
	display:none;
}

#newAndUsed{
	background-image:url("images/newAndUsed.gif");
	background-repeat:no-repeat;
}


#kidsBikes{
	background-image:url("images/kidsBikes.gif");
	background-repeat:no-repeat;
}

#repairs{
	background-image:url("images/repairs.gif");
	background-repeat:no-repeat;
}

#accessories{
	background-image:url("images/accessories.gif");
	background-repeat:no-repeat;
}

#bikeRentals{
	background-image:url("images/bikeRentals.gif");
	background-repeat:no-repeat;
}

#tuneup{
	background-image:url("images/tune-up.gif");
	background-repeat:no-repeat;
}

#address{
	height:45px;
	background-image:url("images/new-address.gif");
	background-repeat:no-repeat;
}

#phone{
	background-image:url("images/phone.gif");
	background-repeat:no-repeat;
}

#hours{
height:45px;
	background-image:url("images/new-hours.gif");
	background-repeat:no-repeat;
}

#email{
	background-image:url("images/email.gif");
	background-repeat:no-repeat;
}